@model QuranClub.Domain.Entities.Charity
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<environment names="development">
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/inputs/touchspin.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/switch.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/app.js"></script>

    <!-- /theme JS files -->
</environment>
@{
    var pageaction = "Create";

    if (ViewBag.IsEdit != "IsUpdate")
    {
        pageaction = "Create";
    }
    else
    {
        pageaction = "Edit";
    }
}
<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4><span class="text-semibold">Create</span> - Charity</h4>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a asp-Controller="dashboard" asp-action="Index"><i class="icon-home2 position-left"></i> Home</a></li>
            <li><a asp-Controller="Charity" asp-action="Index">Charity</a></li>
            <li class="active">Create Charity</li>
        </ul>
    </div>
</div>

<!-- Form validation -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Create Charity</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal form-validate-jquery" method="post" asp-action="@pageaction" asp-controller="Charity">
            <fieldset class="content-group">
                <!-- Basic text input -->
                <div class="form-group">
                    <label class="control-label col-lg-3">Name <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <input type="hidden" name="page" asp-for="page">
                        <input type="text" name="Name" class="form-control" asp-for="Name" placeholder="Name">
               
                        <span class="validation-error-label" asp-validation-for="Name"></span>
                        <input type="hidden" asp-for="Id" />
                    </div>
                </div>
            </fieldset>
            <div class="text-right">
                <button type="reset" class="btn btn-default" id="reset">Reset <i class="icon-reload-alt position-right"></i></button>
                <button type="submit" value="Submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>

            </div>
        </form>
    </div>
</div>

<!-- /form validation -->
