@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Access Denied";
}
<h1 style="color:red">@ViewBag.Title</h1>