@model QuranClub.Domain.Entities.AdvertSubscription
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<environment names="development">
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/assets/js/plugins/forms/validation/validate.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/inputs/touchspin.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/switch.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/form_validation.js"></script>
    <!-- /theme JS files -->
</environment>
@{
    var pageaction = "Create";

    if (ViewBag.IsEdit != "IsUpdate")
    {
        pageaction = "Create";
    }
    else
    {
        pageaction = "Edit";
    }
}
<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4><span class="text-semibold">Create</span> - Advert Subscription</h4>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a asp-Controller="dashboard" asp-action="Index"><i class="icon-home2 position-left"></i> Home</a></li>
            <li><a asp-Controller="AdvertSubscription" asp-action="Create">Advert Subscription</a></li>
            <li class="active">Create Advert Subscription</li>
        </ul>
    </div>
</div>

<!-- Form validation -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Create Advert Subscription</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal form-validate-jquery" method="post" asp-action="@pageaction" asp-controller="AdvertSubscription">
            <fieldset class="content-group">
                <!-- Basic text input -->
                <div class="form-group">
                    <label class="control-label col-lg-3">Tier <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" name="page" asp-for="page">
                        <input type="text" name="Tier" class="form-control" asp-for="Tier"  placeholder="Tier">
                        <span class="validation-error-label" asp-validation-for="Tier"></span>
                    </div>
                </div>
                <!-- Basic text input -->
                <div class="form-group">
                    <label class="control-label col-lg-3">Video Rate <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <input type="text" name="VideoRate" id="VideoRate" class="form-control valid" asp-for="VideoRate" placeholder="Video Rate">
                        <span class="validation-error-label" asp-validation-for="VideoRate"></span>
                    </div>
                </div>
                <!-- Basic text input -->
                <div class="form-group">
                    <label class="control-label col-lg-3">Video Total <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <input type="text" name="VideoTotal" id="VideoTotal" class="form-control valid" asp-for="VideoTotal" placeholder="Video Total">
                        <span class="validation-error-label" asp-validation-for="VideoTotal"></span>
                    </div>
                </div>
                <!-- Basic text input -->
                <div class="form-group">
                    <label class="control-label col-lg-3">Image Rate<span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <input type="text" name="ImageRate" id="ImageRate" class="form-control valid" asp-for="ImageRate" placeholder="Image Rate ">
                        <span class="validation-error-label" asp-validation-for="ImageRate"></span>
                    </div>
                </div>
                <!-- Basic text input -->
                <div class="form-group">
                    <label class="control-label col-lg-3">Image Total <span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <input type="text" name="ImageTotal" id="ImageTotal" class="form-control valid" asp-for="ImageTotal" placeholder="Image Total ">
                        <span class="validation-error-label" asp-validation-for="ImageTotal"></span>
                    </div>
                </div>
                <!-- Basic text input -->
                <div class="form-group">
                    <label class="control-label col-lg-3">PerClick<span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <input type="hidden" asp-for="Id" />
                        <input type="text" name="PerClick" id="PerClick" class="form-control valid" asp-for="PerClick" placeholder="PerClick ">
                        <span class="validation-error-label" asp-validation-for="PerClick"></span>
                    </div>
                </div>
                <!-- Basic text input -->
                <div class="form-group">
                    <label class="control-label col-lg-3">Percentage To Charity<span class="text-danger">*</span></label>
                    <div class="col-lg-9">
                        <input type="text" name="PercentageToCharity" id="PercentageToCharity" class="form-control valid" asp-for="PercentageToCharity" placeholder="Percentage To Charity">
                        <span class="validation-error-label" asp-validation-for="PercentageToCharity"></span>
                    </div>
                </div>
            </fieldset>
            <div class="text-right">
                <button type="reset" class="btn btn-default" id="reset">Reset <i class="icon-reload-alt position-right"></i></button>
                <button type="submit" value="Submit"  class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </form>
    </div>
</div>
<!-- /form validation -->
